
   /* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@300;500&display=swap'); */

    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');


:root{
    --hue: 73.85deg;
    --principal: hsl(var(--hue) 31.71% 75.88%);
    --negro: hsl(var(--hue) 31.71% 26%);
}

* {
    box-sizing:border-box;
}

body{
    margin: 0px;
    color: hsl(var(--hue) 31.71% 75.88%);
    font-size: 16px;
    text-decoration: none;
}

/*helpers*/
img{
    max-width: 100%;
}

.containeer{
    max-width: 1120px;
}

.detalles-nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.detalles-nav a{
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color:hsl(var(--hue) 31.71% 26%);
}

/*tipografias*/

h1, .h1 {
    margin-top: 0;
    font-size: 3.052rem;}
    h2, .h2 {font-size: 2.441rem;}
    h3, .h3 {font-size: 1.953rem;}
    h4, .h4 {font-size: 1.563rem;}
    h5, .h5 {font-size: 1.25rem;}
    small, .text_small {font-size: 0.8rem;
}

.link{
    color: hsl(var(--hue) 31.71% 26%);
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-weight:600;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'PT Serif', serif;

}

/*header*/

.cabeza{
    padding: 16px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.buscador{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.cabeza input{
    background-image: url("../../src/assets/Images/Icono/lupa.svg");
    background-repeat:no-repeat;
    background-size: 4%;
    background-position: 95%;
    width: 45em;
    padding: 8px;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 1px #cacaca;
    border-radius: 21px;
    outline: none;
    font-family: 'PT Serif', serif;
    color: hsl(var(--hue) 31.71% 26%);
}

#comprar{
    width:8em;
    padding: 8px;
    position: relative;
    display: inline-block;
    text-decoration: none;  
}

.cabeza img{
    width: 180px;
}

/*login y registro*/

.principio{
    display:flex;
    justify-content:space-around;
    margin:0;
    padding: 16px;
    gap: 16px;
}

main .login{
    width: 100%;
}

.login #form1{
    padding: 21px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.login #form1{
    color: hsl(var(--hue) 31.71% 26%);
    font-family: 'PT Serif', serif;
}
.login input{
    outline: none;
    padding: 8px;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 1px #cacaca;
    border-radius: 21px;
}

.registra #form{
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.registra #form p, 
.registra #form h3,
.registra #form{
    margin:0;
    color: hsl(var(--hue) 31.71% 26%);
    font-family: 'PT Serif', serif;
}

.registra #form input{
    outline: none;
padding: 8px;
border: 1px solid #cacaca;
box-shadow: 1px 1px 1px #cacaca;
border-radius: 21px;
}

.entrada{
    display: flex;
    flex-direction: row;
}

/*botones*/
.btnn{
    color:hsl(var(--hue) 31.71% 26%);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--principal);
    border-radius: 16px;
    border:2px solid transparent; 
    font-family: 'PT Serif', serif;
    font-weight: 800;
    text-align: center;
}

.btnn:hover{
    color:#c78283;
    background-color: white;
    border:2px solid var(--principal);
    box-shadow: 2px 2px 2px 2px hsl(var(--hue) 31.71% 75.88%);
    transition: 5ms;
}

.btn-secundario{
    font-size: larger;
    background-color: #c78283;
}
/* main*/
.main-color{
    color: var(--principal);
}

main h1,
main h3{
    margin: 0;
}

.vermas{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*cards*/

.card{
    border: 8px solid #75704e;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-card{
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-card h5,
.info-card p{
    font-family: 'PT Serif', serif;
    color:hsl(var(--hue) 31.71% 26%)
}

.producto-titulo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.card-actions{
    display:flex;
    gap:16px;
}

.btn-secundario{
    display: flex;
    justify-content: center;
    padding: 6px;
    width: 8rem;
    border-radius: 16px;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    color: white;
}

.btn-secundario:hover{
    color:#c78283;
    background-color: white;
    outline: 2px solid #c78283;
    box-shadow: 2px 2px 2px 2px #c78283;
}

.rating{
    color: #cacaca;
}

.Franja-card{
    padding: 16px;
    display: flex;
    justify-content: baseline;
    gap: 8px;
}
.card{
    display: flex;
    justify-content: space-around;
    outline: 1px solid hsl(var(--hue) 31.71% 75.88%);
    box-shadow: 1px 1px 8px hsl(var(--hue) 31.71% 26%);
    gap: 8px;
}

.item{
    display: flex;
    justify-content:space-between;
    justify-items: baseline;
}



.producto-titulo p{
    font-size: large;
}

.info h3,
.info p,
.info .btn,
.info .rating{
    margin-bottom: 4px;
}

.bi{
    margin-right: 4px
}

#comprar span{
    position: absolute;
    padding: 2px;
    width: 28px;
    height: 28px;
    color: var(--negro);
    background-color:#c78283;
    border-radius: 50px;
    top:-10px;
    right:0;
    text-align: center;
}

span{
    color: #c78283;
}

/*box*/
.box{
    border:1px solid var(--principal);
    border-radius: 16px;
    box-shadow: 1px 1px 4px 2px hsl(var(--hue) 31.71% 75.88%);
}

/* Alinear tipo wrap*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#navegador{
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navegador .col-izq,
#navegador ul,
#navegador li{
    display: flex;
    gap: 32px;
}

/* section de baneficios*/
.selection{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    padding: 32px;
}

.selection h4,
.selection h5{
    color:hsl(var(--hue) 31.71% 26%);
}
.beneficios{
    display: flex;
    flex-direction: row;
    align-content:space-between;
    justify-content: space-between;
    padding: 10px;
    gap: 8px;
}

.beneficios1, .beneficios2, .beneficios3, .beneficios4{
    display: flex;
    justify-content: space-around;
}

.beneficios h4,
.beneficios h5{
    margin: 0;
}

/* section testimonios*/
.testimonios{
    display: flex;
    padding: 24px ;
}

.testimonios h4{
    width: 70%;
}

.cliente{
    border: 4px solid var(--principal);
    border-radius: 8px;
    padding: 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*footer*/

.pistacho{
    display: flex;
    justify-content: space-around;
    padding: 32px;
    background-color: hsl(var(--hue) 31.71% 75.88%);
    align-items: center;
}

.politicas{
    display: flex;
}

.pistacho a{
    text-decoration: none;
    color: hsl(var(--hue) 31.71% 26%);
    font-family: 'PT Serif', serif;
    font-size:medium;
    font-weight: 700;
}

.pistacho li{
    color: hsl(var(--hue) 31.71% 26%);
    font-family: 'PT Serif', serif;
    font-size:medium;
    font-weight: 700;
}

.logotipo{
    display:flex;
    padding-bottom: 36px;
    margin-left: 21px;
}

.comunidad{
    display: flex;
    justify-items: right;
}
.comunidad h3{
    color:hsl(var(--hue) 31.71% 26%);
    font-family: 'PT Serif', serif;
}

.columna1foot{
    display: flex;
    padding: 16px;
    gap: 16px;
    align-items: center;
}

.columna2foot{
    display: flex;
    flex-direction: column;
}

.comunidad{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.suscribe .news{
    font-family: 'PT Serif', serif;
    padding: 8px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 50%;
}

span{
    font-family: 'PT Serif', serif;
}

.suscribe button{
    color: white;
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 25%;
    background-color: #c78283;
    font-family: 'PT Serif', serif;
    border:none;
}

.redes{
    padding-top: 32px;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    gap: 8px;
}

/*Carrito*/



.pedido{
    
    margin: 32px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.botones a{
display:inline-block;
justify-content: space-between;
color: white;
font-family: 'PT Serif', serif;
text-decoration: none;
}

.botones button{
    padding: 8px;
    display:inline-block;
    flex-direction: row;
    justify-content: center;
    border-radius: 16px;
    background-color: #c78283;
}

/* Carrito */

.carro{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin:0;
}

.carro h3,
.carro p{
    font-family: 'PT Serif', serif;
    color:hsl(var(--hue) 31.71% 26%);
}

.card button{
    color:hsl(var(--hue) 31.71% 26%);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--principal);
    border-radius: 16px;
    border:2px solid transparent; 
    font-family: 'PT Serif', serif;
    font-weight: 800;
    text-align: center;
}

.card a{
    color: hsl(var(--hue) 31.71% 26%);
    text-decoration: none;
}

.boxing{
    padding: 0;
    color: hsl(var(--hue) 31.71% 26%);
    display: flex;
    justify-content: space-between;
}

.boxing h1{
    font-family: 'PT Serif', serif;
    
}

.box1 a{
    padding: 16px;
    background-color: #c78283;
    border-radius: 16px;
    outline: none;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: large;
    color: white;
}

.padreproducto{
    display: flex;
    justify-content:space-around;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listaProduct{
    display: flex;
    justify-content: space-between;
}

.element{
    display:flex;
    flex-direction: column;
}

